## if-else-elif

### General Syntax:
```
if condition_1:
    statments
    if nested_condition_1:
        statments
    else:
        nest ends
elif condition_2:
    statments
else:
    statments
```

In [1]:
# example 1
if True:
    print 'True'
else:
    print 'False'

True

In [2]:
a, b = (12, 13)
print a, b
if a > b:
    print '%d is greater than %d' %(a, b)
elif b > a:
     print '%d is greater than %d' %(b, a)
else:
    print 'Both are equal'

12 13
13 is greater than 12

## For loops

### General Syntax:
```
for item in object:
    statments
```

In [3]:
# For loops for list object
l = [1, 2, 3, 4, 5, 6, 7]

In [4]:
for elem in l:
    print elem

1
2
3
4
5
6
7

In [5]:
for elem in l:
    print elem

1
2
3
4
5
6
7

In [6]:
# To print even or odd in a list
for elem in l:
    if elem % 2 == 0:
        print "%d is even" %elem
    else:
        print "%d is odd" %elem

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd

In [7]:
# To get the sum of a list
list_sum = 0
for elem in l:
    list_sum += elem
print list_sum

28

In [8]:
# For loops for string object
s = 'Dominus tecum Virgo Serena'

In [9]:
for char in s:
    print char

D
o
m
i
n
u
s

t
e
c
u
m

V
i
r
g
o

S
e
r
e
n
a

In [10]:
# With tuples
tup = (1,2,3,4)

In [11]:
for elem in tup:
    print elem

1
2
3
4

In [12]:
# Tuple Unpacking
l = [(1, 2), (23, 12), (4, 12), (12, 133)]

In [13]:
for (t1, t2) in l:
    print 'The sum of %d and %d is %d.' %(t1, t2, t1+t2)

The sum of 1 and 2 is 3.
The sum of 23 and 12 is 35.
The sum of 4 and 12 is 16.
The sum of 12 and 133 is 145.

In [14]:
# With dictionaries
dict = {'Doyle': 'Sherlock', 'Wilde': 'Dorian', 'Dickens': '2 cities'}

In [15]:
for k,v in dict.iteritems():
    print 'The author of the book %s is %s' %(v, k)

The author of the book Dorian is Wilde
The author of the book Sherlock is Doyle
The author of the book 2 cities is Dickens

In [16]:
# For Python 3 use items()
for k, v in dict.items():
    print k,v

Wilde Dorian
Doyle Sherlock
Dickens 2 cities

## While loops

### General Syntax
```
while condition:
    statments
else:
    optional
```

In [17]:
x = 0
while x < 10:
    print x
    x += 1
else:
    print x

0
1
2
3
4
5
6
7
8
9
10

## Break, Continue and Pass

In [19]:
x = 0
while x < 10:
    x += 1
    if x == 3:
        continue
    if x == 9:
        break
    else:
        print x

1
2
4
5
6
7
8

In [22]:
for x in l:
    pass
print 'Done'

Done

## Using range()

In [23]:
x = range(0, 10)

In [24]:
print x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
type(x)

list

In [26]:
# Using in for loop
for x in range(0, 10):
    print x

0
1
2
3
4
5
6
7
8
9

In [27]:
# for memory intensive tasks in python 2 use xrange
# for python 3 use range itself
x = xrange(0, 9999)
print type(x)

<type 'xrange'>

In [28]:
# However iteration is similar
for x in xrange(0,6):
    print x

0
1
2
3
4
5

In [29]:
# To convert xrange to a list
x = list(xrange(0,10,2))

In [31]:
print x, type(x)

[0, 2, 4, 6, 8] <type 'list'>

## Using List Comprehensions

In [32]:
lst = [x for x in range(0,10)]
print lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
lst = [x ** 2 for x in range(0, 10)]
print lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [35]:
lst = [x for x in range(0, 10) if x % 2 == 0]
print lst

[0, 2, 4, 6, 8]

In [37]:
# Converting celsius to fahrenheit
celsius = [0, 100, 25, 40]
fahrenheit = [temp * (9.0/5) + 32 for temp in celsius]
print fahrenheit

[32.0, 212.0, 77.0, 104.0]

In [39]:
# Nested list comphrehensions
lst = [0, 1, 2, 3, 4]
print lst
lst = [x ** 2 for x in [x ** 2 for x in lst]]
print lst

[0, 1, 2, 3, 4]
[0, 1, 16, 81, 256]