## Advanced Numbers

In [1]:
# Getting hex
print hex(100) 
print type(hex(100)) # hex returns a string

# Getting binary
print bin(100)
print type(bin(100))

0x64
<type 'str'>
0b1100100
<type 'str'>

In [2]:
# Using pow()
print pow(2, 4)
print pow(2, 4, 2) # Returns (2 ** 4) % 2

16
0

In [3]:
# Using round() -- Returns a float
print round(3.1415) # Round to nearest integer
print round(3.1415, 2) # Round to 2 decimal places

3.0
3.14

In [4]:
# Using abs() to return absolute value
print abs(3.14)
print abs(-3.14)

3.14
3.14

## Advanced Lists

In [5]:
lst = [x for x in range(10)]

In [6]:
# Appending elements
lst.append(2) # No restrictions on arguments, can be any type of object
print lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 2]

In [7]:
# Getting count of elements
print lst.count(2)

2

In [8]:
# Extending list
lst.extend([2, 3])
print lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 2, 3]

In [9]:
try:
    lst.extend(2)
except TypeError:
    print 'Only iterables are allowed'

Only iterables are allowed

In [10]:
# Getting first index of element
print lst.index(2)

2

In [11]:
try:
    print lst.index(12)
except ValueError:
    print 'Element not in list'

Element not in list

In [12]:
# Removing last element
lst.pop()
print lst

# Removing first occurence of element
lst.remove(2)
print lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 2]
[0, 1, 3, 4, 5, 6, 7, 8, 9, 2, 2]

In [13]:
# Permanently reversing list
lst.reverse()
print lst

[2, 2, 9, 8, 7, 6, 5, 4, 3, 1, 0]

In [14]:
# sort list
lst.sort()
print lst

[0, 1, 2, 2, 3, 4, 5, 6, 7, 8, 9]

## Advanced Sets

In [15]:
st = set()

In [16]:
# Adding elements
st.add(1)
st.add(2)
print st

set([1, 2])

In [17]:
# Removing all elements
st.clear()
print st

set([])

In [18]:
# Copying sets 
st = {1, 2, 3}
st2 = st.copy()
print st, st2

set([1, 2, 3]) set([1, 2, 3])

In [19]:
# Getting difference
st.add(4)
st2.add(5)
print st.difference(st2) # st -st2
print st2.difference(st) # st2 - st

set([4])
set([5])

In [20]:
# Removing common elements
st2.difference_update(st) # st2 = st2 - st
print st2

set([5])

In [21]:
# Safely remove an existing member
st2.discard(4) # Not an existing element
print st2
st2.discard(5) # Existing element
print st2

set([5])
set([])

In [22]:
st1 = {i for i in range(20)}
st2 = {i * 2 for i in range(20)}
print st1, st2

set([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]) set([0, 32, 2, 4, 38, 6, 8, 10, 12, 34, 14, 16, 18, 20, 22, 24, 36, 26, 28, 30])

In [23]:
# Getting intersections
print st1.intersection(st2)

# Updating set to only include intersections

set([0, 2, 4, 6, 8, 10, 12, 14, 16, 18])

In [25]:
# Updating to only include intersections
st1.intersection_update(st2)
print st1

set([0, 2, 4, 6, 8, 10, 12, 14, 16, 18])

In [26]:
# Getting disjoint sets
st1 = {x * 2 for x in range(10)}
st2 = {x * 2 + 1 for x in range(10)}
print st1.isdisjoint(st2)

True

In [28]:
# Getting supersets and subsets
st1 = {x for x in range(10)}
st2 = {x for x in range(20)}
print st1.issubset(st2) 
print st2.issuperset(st1)

True
True

In [29]:
# Getting symmetric difference 
st1 = {x for x in range(10)}
st2 = {x for x in range(5, 16)}
print st1.symmetric_difference(st2) # (A - B) U (B - A)
print st2.symmetric_difference(st1)

set([0, 1, 2, 3, 4, 10, 11, 12, 13, 14, 15])
set([0, 1, 2, 3, 4, 10, 11, 12, 13, 14, 15])

In [30]:
# Gettin union
st1 = {x for x in range(5)}
st2 = {x for x in range(5, 10)}
print st1, st2, st1.union(st2)

set([0, 1, 2, 3, 4]) set([8, 9, 5, 6, 7]) set([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

## Advanced Strings

In [39]:
s = 'The boy needs therapy. He\'s a nut - Frontier Psychatrist'

In [44]:
# Convert all to upper case
print s.upper()

THE BOY NEEDS THERAPY. HE'S A NUT - FRONTIER PSYCHATRIST

In [45]:
# Convert all to lower case
print s.lower()

the boy needs therapy. he's a nut - frontier psychatrist

In [46]:
# Capitalize first letter
print s.capitalize()

The boy needs therapy. he's a nut - frontier psychatrist

In [47]:
# Count number of characters
print s.count('h')

3

In [48]:
# Indexing
print s.find('h')

1

In [53]:
# Centring string with specified width
print s.center(100, '*')

**********************The boy needs therapy. He's a nut - Frontier Psychatrist**********************

In [57]:
# Expanding tabs
'lalalalal\tlalalalal'.expandtabs()

'lalalalal       lalalalal'

In [59]:
# Various is[char type] methods
'123dog123'.isalnum()

True

In [64]:
'Rigoletto'.isalpha()

True

In [66]:
'16180339887'.isdigit()

True

In [67]:
' '.isspace()

True

In [70]:
'Peter Fayle'.endswith('e')

True

### Regex Methods

In [74]:
s = 'O lord! O the abdominable one! Oglaf!'
# Split at char
print s.split('O')

# Form a tuple containing left part, seperator and right part
print s.partition('a')

['', ' lord! ', ' the abdominable one! ', 'glaf!']
('O lord! O the ', 'a', 'bdominable one! Oglaf!')

## Advanced Dictionaries

In [75]:
# Dictionary Comprehensions
d1 = {x: x**2 for x in range(10)}
print d1

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [77]:
# Iterating Dictionary keys
for num, i in enumerate(d1.iterkeys()):
    print 'key %s is %s' % (num, i)

key 0 is 0
key 1 is 1
key 2 is 2
key 3 is 3
key 4 is 4
key 5 is 5
key 6 is 6
key 7 is 7
key 8 is 8
key 9 is 9

In [78]:
# Iterating Dictionary values
for num, i in enumerate(d1.itervalues()):
    print 'val %s is %s' % (num, i)

val 0 is 0
val 1 is 1
val 2 is 4
val 3 is 9
val 4 is 16
val 5 is 25
val 6 is 36
val 7 is 49
val 8 is 64
val 9 is 81

In [79]:
# Iterating Dictionaries
for num, (k, v) in enumerate(d1.iteritems()):
    print '%s. %s = %s' % (num, k, v)

0. 0 = 0
1. 1 = 1
2. 2 = 4
3. 3 = 9
4. 4 = 16
5. 5 = 25
6. 6 = 36
7. 7 = 49
8. 8 = 64
9. 9 = 81

In [80]:
# Viewing dictionaries
print d1.viewitems()
print d1.viewkeys()
print d1.viewvalues()

dict_items([(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)])
dict_keys([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
dict_values([0, 1, 4, 9, 16, 25, 36, 49, 64, 81])